{% layout 'layout.liquid'%}
{% block content %}



<div class="m-3">
    <h4 class="display-6">{{currentCampaignName}}</h4>
    <h4 class="display-6">{{currentBackpackName}}</h4>
    <b>Total weight: {{backpackWeight}}</b><br />
    <a class="btn btn-success" href="/items/">Add Items to Backpack</a>
    <hr>
    {% assign items_sorted = items | sort: "name"%}
    {% comment %} <h2 class="display-6">All items</h2> {% endcomment %}
    <h2 class="display-8">
        {% if type %}
            {{type}}
        {% else%}
            Items
        {% endif %} 
        in {{currentBackpackName}}:</h2>
    <form action="../../../backpacks/search/" method="GET">
        <fieldset class="input-group mb-3">
            {% comment %} <label for="itemDataList" class="form-label">Search for an Item</label> {% endcomment %}
            <input class="form-control" list="datalistOptions" id="dataList" name ="name" placeholder="Type to search items..." autocomplete="off" style="max-width: 500px;">
            <input type="submit" value="Search" class="btn btn-primary">
                
            <datalist id="datalistOptions">
                {% for item in items_sorted %}
                    <option value ="{{item.name}}">      
                {% endfor %}
            </datalist>
            
            </fieldset>
    </form>  
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/backpacks/{{currentBackpackId}}">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/backpacks/{{currentBackpackId}}/filter/Gear">Gear</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/backpacks/{{currentBackpackId}}/filter/Weapon">Weapons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/backpacks/{{currentBackpackId}}/filter/Armor">Armor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/backpacks/{{currentBackpackId}}/filter/Magic%20Item">Magic Items</a>
        </li>
    </ul>
    {% if items_sorted.length < 1%}
        <h2 class="display-6">You opened {{currentBackpackName}}, but all that came out was a moth and a puff of dust...</h2>
    {% endif %}
    <div class="row">     
            {% for item in items_sorted %}
                <div class="card m-1 mt-0" style="width: 18rem;">
                    <a class="anchor" name="{{item.id}}"></a>
                    <div class ="card-header {{item.category}} ">   
                        <h6>
                            <span>
                                {% if isMaster and item.owner != userId %}
                                    <form action="/items/remove/{{currentCampaignId}}/{{ item.id }}?_method=PUT" method="POST">
                                        <input type="submit" value="X" class="btn btn-small btn-danger float-end">
                                    </form>
                                {% endif %}
                            </span>
                            {% if isMaster %}
                                <span class="badge bg-success">
                                    {% if item.fromSeed%}
                                        SRD
                                    {% else%}
                                        Homebrew
                                    {% endif %}
                                </span>
                                {% if item.owner == userId%}
                                    <span class="badge bg-primary">Owner</span>
                                {% endif %}
                            {% endif %}
                        
                    </h6>
                        <h5>{{ item.name }}</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                        {{ item.category }}
                        <span class="float-end">
                            <form action="/backpacks/add/{{ item.id }}?_method=PUT" method="POST">
                                Qty: {{item.qty}}                         
                                <input type="submit" value="+" class="btn btn-success btn-sm">
                                
                            </form>        
                        </span>
                    
                        </h5>

                        <p class="card-text text-end">
                            {% if item.weight and item.weight != "" %}
                                weight: {{ item.weight }}<br />
                            {% endif %}
                            {% if item.cost and item.cost != "" %}
                                cost: {{ item.cost }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="row" >
                            <form class="col" action="/backpacks/{{currentBackpackId}}/{{item.id}}/all?_method=PUT" method="POST">
                                <input type="submit" value="Remove All" class="form-control btn btn-danger">
                            </form>
                            {% if item.qty > 1%}
                                <form class="col" action="/backpacks/{{currentBackpackId}}/{{item.id}}/one?_method=PUT" method="POST">
                                    <input type="submit" value="Remove 1" class="form-control btn btn-danger">
                                </form>
                            {% endif %}        
                        </div>
                        <div>
                            <a href="/items/{{ item.id }}" class="btn btn-info" style="width:100%">
                                View {{ item.title }}
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

