{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">Campaigns I Manage:</h2>
    <hr>
    <div class="row">
        {% for campaign in campaigns%}
            {% if campaign.owner == userId%}
                <div class="card" style="width: 18rem;">
                    <h5 class="card-header">{{ campaign.name }}</h5>
                    <div class="card-body">
                        <p>{{ campaign.description }}</p>
                        
                        <form action="/campaigns/{{campaign.id}}/enter?_method=PUT" method="POST">
                            <a href="/campaigns/{{ campaign.id }}/edit" class="btn btn-info">
                                Edit
                            </a>
                            <input class="btn btn-info" type="submit" value="Enter">
                        </form>
                    </div>
                </div>                
            {% endif %}
        {% endfor %}
    </div>

    <h2 class="display-6">Campaigns I Play In:</h2>
    <hr>
    <div class="row">
        {% for campaign in campaigns%}
            {% if campaign.players contains userId %}
                <div class="card" style="width: 18rem;">
                    <h5 class="card-header">{{ campaign.name }}</h5>
                    <div class="card-body">
                        <p>{{ campaign.description }}</p>
                        <form action="/campaigns/{{campaign.id}}/enter?_method=PUT" method="POST">
                            <input class="btn btn-info" type="submit" value="Enter">
                        </form>
                    </div>
                </div>                
            {% endif %}
        {% endfor %}
    </div>    

</div>
{% endblock %}