{% layout 'layout.liquid'%}
{% block content %}
<div>
    {% assign items_sorted = examples | sort: "name"%}
    <h2 class="display-6">{{currentCampaignName}}</h2>
    <h2 class="display-6">{{currentBackpackName}}</h2>
    <hr>
    {% if isMaster %}
        <a href="/items/new" class="btn btn-success">
            Create new item
        </a>
    {% endif %}
    <h2 class="display-8">All Items:</h2>
    <form action="../../../items/search/" method="GET">
        <fieldset class="input-group mb-3">
            {% comment %} <label for="exampleDataList" class="form-label">Search for an Item</label> {% endcomment %}
            <input class="form-control" list="datalistOptions" id="dataList" name ="name" placeholder="Type to search items..." autocomplete="off">
            <input type="submit" value="Search" class="btn btn-primary">
                
            <datalist id="datalistOptions">
                {% for item in items_sorted %}
                    <option value ="{{item.name}}">      
                {% endfor %}
            </datalist>
            
            </fieldset>
    </form>  
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../../../items/">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="../../../items/filter/Gear">Gear</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="../../../items/filter/Weapon">Weapons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="../../../items/filter/Armor">Armor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="../../../items/filter/Magic%20Item">Magic Items</a>
        </li>
          {% if isMaster %}
            <li class="nav-item">
                <a class="nav-link active" href="/items/mine/">Created by {{username}}</a>
            </li>
        {% endif %}

    </ul>
    {% if items_sorted.length < 1%}
        <h2 class="display-6">{{username}} opened the manifest, but there was nothing there.</h2>
    {% endif %}
    <div class="row">     
        {% for example in items_sorted %}
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{ example.name }}</h5>
            <div class="card-body">
                <h5 class="card-title">
                Type: {{ example.category }}
                </h5>
                {% comment %} <p class="card-text" style="height: 20vh; overflow:auto;"> 
                    {{example.desc}}
                </p> {% endcomment %}
                <p class="card-text">
                {% if example.weight%}
                    weight: {{ example.weight }}<br />
                {% endif %}
                {% if example.cost%}
                    cost: {{ example.cost }}
                {% endif %}
                </p>
            </div>
            <div class="card-footer">
                <a href="/items/{{ example.id }}" class="btn btn-info">
                    View {{ example.title }}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}