{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <article>
        <h2 class="display-6">{{currentCampaignName}}</h2>
        <h2 class="display-6">{{currentBackpackName}}</h2>
        <hr>
        <h2>{{ example.name }}</h2>
        <h3>{{ example.category }}</h3>
        <p>
            {% if example.weight%}
                weight: {{ example.weight }}<br />
            {% endif %}
            {% if example.cost%}
                cost: {{ example.cost }}
            {% endif %}
        </p>
        <h3>{{ example.desc }}</h3>
        
        {% if example.owner == userId and example.owner != null %}
        <div class="btn-group">

            <a href="/examples/{{ example.id }}/edit" class="btn btn-primary">Edit</a>
            <form action="/examples/{{ example.id }}?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </div>
        {% endif %}
    </article>
</div>
{% endblock %}