{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <article>
        <h1>
            {{ example.name }}
            <span class="float-end" style="font-size:large;">
                {% if example.weight and example.weight != "" %}
                    weight: {{ example.weight }}<br />
                {% endif %}
                {% if example.cost and example.cost != ""%}
                    cost: {{ example.cost }}
                {% endif %}
            </span>
        </h1>
        <hr>
        <h3>{{ example.category }}</h3>

        <h5>{{ example.desc }}</h5>
        {% if isMaster or example.secrets and example.isSecret == false %}
            <hr>
            <h3>Secrets:</h3>
            <h5>{{example.secrets}}</h5>
        {% endif %}
        {% if example.owner == userId and example.owner != null %}
        <div class="btn-group">
            <a href="/items/{{ example.id }}/edit" class="btn btn-primary">Edit</a>
            <form action="/items/{{ example.id }}?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </div>
        <hr>
        {% endif %}
        <div class="btn-group">
            {% if currentBackpackId != "" %}
                <a href="/backpacks/{{ currentBackpackId }}/#{{ example.id }}" class="btn btn-success">Back to {{ currentBackpackName }}</a>
            {% endif %}
            <a href="/items/#{{ example.id }}" class="btn btn-primary">Back to library</a>
        </div>
    </article>
</div>
{% endblock %}