{% layout 'layout.liquid'%}
{% block description %}
<div class="offcanvas offcanvas-start show" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">{{ example.name }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
<div class="offcanvas-body">
   <article>
        <h1>
            {{ example.name }}
            <span class="float-end" style="font-size:large;">
                {% if example.weight and example.weight != "" %}
                    weight: {{ example.weight }}<br />
                {% endif %}
                {% if example.cost and example.cost != ""%}
                    cost: {{ example.cost }}
                {% endif %}
            </span>
        </h1>
        <hr>
        <h3>{{ example.category }}</h3>

        <h5>{{ example.desc }}</h5>
        <hr>
        {% if isMaster and example.secrets or example.secrets and example.isSecret == false %}
            {% if example.secrets != "" %}
                <h3>Secrets:</h3>
                <h5>{{example.secrets}}</h5>
                <hr>
            {% endif %}
        {% endif %}
        {% if example.owner == userId and example.owner != null %}
            
            <div class="btn-group mb-3">
                <a href="/items/{{ example.id }}/edit" class="btn btn-primary">Edit</a>
                <form action="/items/{{ example.id }}?_method=DELETE" method="POST">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </div>
            <br />
        {% endif %}
        <div class="btn-group">
            {% if currentBackpackId != "" %}
                <a href="/backpacks/{{ currentBackpackId }}/#{{ example.id }}" class="btn btn-success">Back to {{ currentBackpackName }}</a>
            {% endif %}
            <a href="/items/#{{ example.id }}" class="btn btn-primary">Back to library</a>
        </div> 
    </article>
</div>
</div>
{% endblock %}