{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/items/{{item.id}}?_method=PUT" method="POST">
        <fieldset>
            <legend>Create New Item</legend>
            <div class="form-group row">
                <div class="col-md-4 mb-3">
                    <label class="form-label">Name: </label>
                    <input 
                        type="text" 
                        name="name" 
                        placeholder="enter item's name"
                        class="form-control"
                        required
                        value="{{item.name}}"
                    >
                </div>
                <div class="col-md-4 mb-3">    
                    <label class="form-label">Type: </label>
                    <select name="category" class="form-control">
                        <option value="Gear"
                            {% if item.category == 'Gear' %}
                                selected
                            {% endif %}
                        >Gear</option>
                        <option value="Weapon"
                            {% if item.category == 'Weapon' %}
                                selected
                            {% endif %}>Weapon</option>
                        <option value="Armor"
                            {% if item.category == 'Armor' %}
                                selected
                            {% endif %}>Armor</option>
                        <option value="Magic Item"
                            {% if item.category == 'Magic Item' %}
                                selected
                            {% endif %}
                        >Magic Item</option>

                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4 mb-3">    
                    <label class="form-label">Cost:</label>
                    <input 
                        type="text" 
                        name="cost" 
                        placeholder="examples: '10gp', '1cp', 'Mark's First Born Child', etc." 
                        class="form-control"
                        value="{{item.cost}}"
                    >
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">weight:</label>
                    <input 
                        type="number" 
                        name="weight"
                        placeholder="enter item's weight" 
                        class="form-control"
                        value="{{item.weight}}"
                        style = "width=5em;"
                    >
                </div>
            </div>
            <div class="col-md-8 mb-3">    
                <label class="form-label">Description:</label>
                <textarea 
                    type="text" 
                    name="desc" 
                    class="form-control"
                    rows="4"
                    placeholder="Enter description here...
(tip: if you need to add line breaks, type '&&')">{{ item.desc }} 

                </textarea>
            </div>
            <div class="col-md-8 mb-3">                
                <label class="form-label">Secrets:</label><br />
                <input class="form-check-input" type="checkbox" name="isSecret" 
                    {% if item.isSecret %}
                        checked
                    {% endif %}
                >
                <label class="form-label">Secrets hidden from players</label>
                <textarea 
                    type="text" 
                    name="secrets" 
                    class="form-control"
                    rows="4"
                    placeholder="Enter anything you want hidden from players here...
So long as the above box is checked, only DM's will be able to see this.
(tip: if you need to add line breaks, type '&&')">{{ item.secrets }}

                </textarea>
            </div>
        </fieldset>
        <input type="submit" value="Edit Item" class="btn btn-success">
    </form>
</div>
{% endblock %}