{% layout 'layout.liquid'%}

{% block content %}
<div class="container-fluid m-3 pt-8">
    {% assign items_sorted = items | sort: "name"%}
    <h2 class="display-6">{{currentCampaignName}}</h2>
    <h2 class="display-6">{{currentBackpackName}}</h2>
    <hr>
    {% if isMaster %}
        <a href="/items/new" class="btn btn-success">
            Create new item
        </a>
    {% endif %}
    <h2 class="display-8">Item Library:</h2>
    <form action="../../../items/search/" method="GET">
        <fieldset class="input-group mb-3" style="max-width:500px">
            {% comment %} <label for="itemDataList" class="form-label">Search for an Item</label> {% endcomment %}
            <input class="form-control" list="datalistOptions" id="dataList" name ="name" placeholder="Type to search items..." autocomplete="off">
            <input type="submit" value="Search" class="btn btn-primary">
                
            <datalist id="datalistOptions">
                {% for item in items_sorted %}
                    <option value ="{{item.name}}">      
                {% endfor %}
            </datalist>
            
            </fieldset>
    </form>  
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/items/">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/items/filter/Gear">Gear</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/items/filter/Weapon">Weapons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/items/filter/Armor">Armor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/items/filter/Magic%20Item">Magic Items</a>
        </li>
          {% if isMaster %}
            <li class="nav-item">
                <a class="nav-link active" href="/items/mine/">Created by {{username}}</a>
            </li>
        {% endif %}

    </ul>
    {% if items_sorted.length < 1%}
        <h2 class="display-6">{{username}} opened the manifest, but there was nothing there.</h2>
    {% endif %}
    <div class="row">     
        {% for item in items_sorted %}
            <div class="card m-1 mt-0" style="width: 18rem;">
                <a class ="anchor" name="{{item.id}}"></a>
                <div class ="card-header {{item.category}} ">   
                    <h6>
                        <span>
                            {% if isMaster and item.owner != userId %}
                                <form action="/items/remove/{{currentCampaignId}}/{{ item.id }}?_method=PUT" method="POST">
                                    <input type="submit" value="X" class="btn btn-small btn-danger float-end">
                                </form>
                            {% endif %}
                        </span>
                        {% if isMaster %}
                            <span class="badge bg-success">
                                {% if item.fromSeed%}
                                    SRD
                                {% else%}
                                    Homebrew
                                {% endif %}
                            </span>
                            {% if item.owner == userId%}
                                <span class="badge bg-primary">Owner</span>
                            {% endif %}
                        {% endif %}                   
                </h6>
                    <h5>{{ item.name }}</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                    {{ item.category }}
                    </h5>
                    <p class="card-text text-end">
                    {% if item.weight and item.weight != "" %}
                        weight: {{ item.weight }}<br />
                    {% endif %}
                    {% if item.cost and item.cost != "" %}
                        cost: {{ item.cost }}
                    {% endif %}
                    </p>
                </div>
                <div class="card-footer">
                    {% if currentBackpackId != "" %}
                    
                        <form action="/backpacks/add/{{ item.id }}?_method=PUT" method="POST">
                            <input type="submit" value="Add to {{currentBackpackName}}" class="btn btn-success" style="width:100%">
                        </form>
                    
                    {% endif %}
                <div>
                    <a href="/items/{{ item.id }}" class="btn btn-info" style="width:100%">
                        View
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}